<% content_for(:title) do %>
  Image <%= @image.id %>
<% end %>

<% if @last_image %>
  <%= image_tag @last_image.image.url(:thumb) %> 
  has a rating of <%= @last_image_rating.round(2) %>
  <hr/>
<% end %>

<%= image_tag @image.image.url(:medium) %>

<!-- show form for rating the image -->
<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:image_id) %>
  <div class="field">
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

